* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__title {
    color: #105718;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.card-title {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 2px;
}

#circle-status {
    font-size: 10px;
    display: inline-block;
    margin-right: 5px;
}

.copy {
    margin-top: 128px;
}

footer {
    background-color: #1f2821;
    color: #848484;
}

.main-content {
    background-color: #012f0a;
    background-image: url(../../assets/images/FUNDO.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 600px;
    padding-top: 40px;
}

.detail {
    background-size: cover;
}

.card-character {
    background-color: #354338;
    color: #fff;
    cursor: pointer;
}

.card-character:hover {
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.card-character-detail {
    background-color: #354338;
    color: #fff;
}

/* Sobrescrita Bootstrap */
.form-control {
    border-right: none;
}

.form-control:focus {
    border-color: #cccc;
    border-right: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
}

.input-group-text {
    background-color: transparent;
    color: #62ab60;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.35);
  }
}